/************
*
*	@Author :	Benoit Zohar
*	@File: 		lacoloc.css
*	@Package: 	default gestio template
*
******************/

/****** Bootstrap customization ********/




/****** General *****/
* {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light","Helvetica Neue", georgia, Lucida, Arial, sans-serif;
	font-weight: 300;
	font-size:16px;
	letter-spacing:1px;
}

body {
	background: #f5f5f5;
}

.hidden{
	display:none;
}
.visible {
	display:block;
}

.rotate180 {
	-webkit-animation: bounceIn 0.7s ease-in-out;
	-moz-animation: bounceIn 0.7s ease-in-out;
	-ms-animation: bounceIn 0.7s ease-in-out;
	-o-animation: bounceIn 0.7s ease-in-out;
	animation: bounceIn 0.7s ease-in-out;
}

@-webkit-keyframes bounceIn{  
	from {-webkit-transform: rotate(0deg);}
    75%  {-webkit-transform: rotate(-200deg);}
    90%  {-webkit-transform: rotate(-175deg);}
    to   {-webkit-transform: rotate(-180deg);} 
} 
@-moz-keyframes bounceIn{	
    from {-moz-transform: rotate(0deg);}
    75%  {-moz-transform: rotate(-200deg);}
    90%  {-moz-transform: rotate(-175deg);}
    to   {-moz-transform: rotate(-180deg);} 
}     
@-ms-keyframes bounceIn{
	from {-moz-transform: rotate(0deg);}
    75%  {-moz-transform: rotate(-200deg);}
    90%  {-moz-transform: rotate(-175deg);}
    to   {-moz-transform: rotate(-180deg);} 
} 
@-o-keyframes bounceIn{
	from {-o-transform: rotate(0deg);}
    75%  {-o-transform: rotate(-200deg);}
    90%  {-o-transform: rotate(-175deg);}
    to   {-o-transform: rotate(-180deg);} 
} 
@keyframes bounceIn{	
	from {transform: rotate(0deg);}
    75%  {transform: rotate(-200deg);}
    90%  {transform: rotate(-175deg);}
    to   {transform: rotate(-180deg);} 
}  


/***** Logo ****/

.logo_inactive {
	position:absolute;
	top:-50px;
	left:50px;
	background: url(/img/logo_lacoloc_80.png) no-repeat;
	cursor:pointer;
	height: 80px;
	width: 80px;
}

.logo_active{
	position:absolute;
	top:-20px;
	left:50px;
	background: url(/img/logo_lacoloc_80.png) no-repeat;
	cursor:pointer;
	height: 80px;
	width: 80px;
}

/***** Menu ****/
.nav i.icon-white {
	margin-top: 2px;
	margin-right: 5px;
}
@media (max-width: 979px) {
	.nav-collapse .nav > li > a, .nav-collapse .dropdown-menu a {
		font-weight: normal;
	}
}	


/****** Content *****/

#content {
	min-height: 300px;
}

/******* Tables *****/

table {
	border: none;
	border-spacing: 10px;
}

th {
	border:none;
	border-bottom: 1px dashed black;
	padding-bottom: 5px;
}

td {
	border:none;
}
