/************
*
*	@Author :	Benoit Zohar
*	@File: 		login.css
*	@Package: 	default gestio template
*
******************/

/****** Bootstrap customization ********/




/****** General *****/
* {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light","Helvetica Neue", georgia, Lucida, Arial, sans-serif;
	font-weight: 300;
	font-size:16px;
	letter-spacing:1px;
}

body {
	background: #f5f5f5;
}


input[type="text"], 
input[type="password"] {
	height:24px;
	border: 1px solid #48528d;
	padding-left:5px;
}

input[type="text"]:focus, 
input[type="password"]:focus {
	border: 2px solid #48528d;
	padding-left:5px;
	outline: 0 none;
	margin:-1px;
}

input[type="button"],
input[type="submit"],
button {
	font-size:14px;
	color: #333;
	background: #cfe7fa; /* Old browsers */
	background: -moz-linear-gradient(top, #cfe7fa 0%, #6393c1 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cfe7fa), color-stop(100%,#6393c1)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #cfe7fa 0%,#6393c1 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #cfe7fa 0%,#6393c1 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, #cfe7fa 0%,#6393c1 100%); /* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cfe7fa', endColorstr='#6393c1',GradientType=0 ); /* IE6-9 */
	background: linear-gradient(top, #cfe7fa 0%,#6393c1 100%);

	padding: 1px 8px 1px 8px;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;	
	cursor:pointer;
	border:1px solid #888;
	box-shadow: 1px 1px 6px #999;
}

button img {
	height:12px;
	margin-right:2px;
}

input[type="button"]:hover,
input[type="submit"]:hover,
button:hover {
	color: #222;
	background: #86b1d5; /* Old browsers */
	background-image:  -webkit-linear-gradient(top, #cfe7fa 0%,#86b1d5 100%);
	background: -moz-linear-gradient(top, #cfe7fa 0%, #86b1d5 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cfe7fa), color-stop(100%,#86b1d5)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #cfe7fa 0%,#86b1d5 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #cfe7fa 0%,#86b1d5 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, #cfe7fa 0%,#86b1d5 100%); /* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cfe7fa', endColorstr='#86b1d5',GradientType=0 ); /* IE6-9 */
	background: linear-gradient(top, #cfe7fa 0%,#86b1d5 100%); /* W3C */
	
	border: 1px solid #222;
	
}

input[type="button"]:active,
input[type="submit"]:active,
button:active {
	background: #a7cfdf; /* Old browsers */
	background: -moz-linear-gradient(top, #a7cfdf 0%, #23538a 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a7cfdf), color-stop(100%,#23538a)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #a7cfdf 0%,#23538a 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #a7cfdf 0%,#23538a 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, #a7cfdf 0%,#23538a 100%); /* IE10+ */
	background: linear-gradient(top, #a7cfdf 0%,#23538a 100%); /* W3C */
}

.hidden{
	display:none;
}
.visible {
	display:block;
}


/***** Logo ****/

.logo_inactive {
	position:absolute;
	top:-50px;
	left:50px;
	background: url(/img/logo_lacoloc_80.png) no-repeat;
	cursor:pointer;
	height: 80px;
	width: 80px;
}

.logo_active{
	position:absolute;
	top:-20px;
	left:50px;
	background: url(/img/logo_lacoloc_80.png) no-repeat;
	cursor:pointer;
	height: 80px;
	width: 80px;
}
/********** Login Form ********/

#login_form #form_div {
	position: relative;
	width: 400px;
	height:400px;
	margin-left:auto;
	margin-right:auto;
	margin-top:100px;
	border: 1px solid #48528D;
	border-radius:6px;
	padding:5px;
	background: #ffffff;
	background: -moz-linear-gradient(top, #ffffff 0%, #e5e5e5 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e5e5e5));
	background: -webkit-linear-gradient(top, #ffffff 0%,#e5e5e5 100%);
	background: -o-linear-gradient(top, #ffffff 0%,#e5e5e5 100%);
	background: -ms-linear-gradient(top, #ffffff 0%,#e5e5e5 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 );
	background: linear-gradient(top, #ffffff 0%,#e5e5e5 100%);
	box-shadow: 1px 1px 8px #999;

}

#login_form #form_div 

#login_form #form_div .logo_active {
	top:auto;
	bottom:-120px;
	left:155px;
	opacity: 0.2;
}

#login_form #form_div div.label {
	margin-top:30px;
	margin-bottom:15px;
	font-size: 20px;
	margin-left: 25px;
	font-variant: small-caps;
}


#login_form #form_div input {
	height:40px;
	width:260px;
	font-size: 20px;
	margin-top:5px;
	margin-left:60px;
}

#login_form #form_div input:active,
#login_form #form_div input:focus {
	margin-top:4px;
	margin-left:59px;
}

#login_form #form_div button {
	margin-top:35px;
	width:200px;
	height:50px;
	margin-left:95px;
	font-size: 18px;
}
#login_form #form_div div.checkbox_label {
	height:20px;
	width:300px;
	margin-left:100px;
	margin-top:30px;
	font-size:20px;
	color:#555;
}

#login_form #form_div div.checkbox_label input {
	margin:0;
	height:15px;
	width:auto;
	margin-right:20px;
}

.banana_footer {
	position:absolute;
	bottom:3px;right:4px;
	font-size: 16px;
	font-variant: small-caps;
}
.banana_footer img { height : 17px; }