doctype html
html(lang='#{locale}', ng-app="lacoloc", xmlns='http://www.w3.org/1999/xhtml', xmlns:fb='https://www.facebook.com/2008/fbml', itemscope='itemscope', itemtype='http://schema.org/Product')
  include includes/head
  body(ng-controller="AppCtrl")
    include includes/header
    .container(ng-view)

    include templates/expenses
    include templates/shoppings

    include includes/footer
    include includes/foot
