<nav class="navbar navbar-default" *ngIf="authService.isLoggedIn()">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a routerLink="home" class="navbar-brand">
                <span class="logo-part logo-left">
                    FLAT
                </span>
                <span class="logo-part logo-right">
                    BUDDY
                </span>
            </a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-left">
                <li><a routerLink="home" routerLinkActive="active">Home</a></li>
                <li><a routerLink="expenses" routerLinkActive="active">Expenses</a></li>
                <li><a routerLink="about" routerLinkActive="active">About</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a (click)="logout()" routerLinkActive="active">Logout</a></li>
            </ul>
        </div>
    </div>
</nav>
<!--<div class="side-navbar">
    <ul>
        <li>Link</li>
        <li>Link</li>
        <li>Link</li>
        <li>Link</li>
        <li>Link</li>
    </ul>
</div>-->
<div class="main-container full-height">
    <pre>
        {{ meAsJson }}
    </pre>
    Name: <input type="text" [(ngModel)]="username" /> <button (click)="updateName()">Update to {{username}}</button>
    <router-outlet></router-outlet>
</div>
