/************
*
*   @Author :   Benoit Zohar
*   @File:      lacoloc.css
*   @Package:   default gestio template
*
******************/

/****** Bootstrap customization ********/




/****** General *****/
* {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light","Helvetica Neue", georgia, Lucida, Arial, sans-serif;
    /*font-weight: 300;
    font-size:16px;*/
    letter-spacing:1px;
}

html {
    -webkit-font-smoothing: antialiased;    
}

body {
    background-color: #f5f5f5;
    background-image: url(/images/noise.png);
    position: relative;
    padding-top: 90px;
    
}

footer {
    margin-left:40px;
}

button,
input[type="checkbox"] {
  outline: none !important;
}


/* Profil picture */
.pp {

    position: relative;
    display: block;
    overflow: hidden;
    background-position: 50% 50%;
    background-repeat: no-repeat no-repeat;
    
    -webkit-transition: 1s;
    -moz-transition: 1s;
    transition: 1s;


    -webkit-border-radius: 50em;
    -moz-border-radius: 50em;
    border-radius: 50em;
    
    -webkit-box-shadow: 0 1px 0 rgba(255,255,255,.2), inset 0 4px 5px rgba(150,150,150,.6), inset 0 1px 0 rgba(150,150,150,.6);
    -moz-box-shadow: 0 1px 0 rgba(255,255,255,.2), inset 0 4px 5px rgba(100,100,100,.6), inset 0 1px 0 rgba(100,100,100,.6);
    box-shadow: 0 1px 0 rgba(255,255,255,.2), inset 0 4px 5px rgba(150,150,150,.6), inset 0 1px 0 rgba(150,150,150,.6);
}

.pp-small {
    background-size: 24px; 
    width: 24px; 
    height: 24px;
}

.pp > i {
    position: absolute;
    content: ' ';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0.3;

    -webkit-border-radius: 50em;
    -moz-border-radius: 50em;
    border-radius: 50em;

    background: -moz-linear-gradient(top, rgba(255,255,255,0.7) 0%, rgba(255,255,255,.1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.7)), color-stop(100%,rgba(255,255,255,.1)));
    background: linear-gradient(top, rgba(255,255,255,0.7) 0%,rgba(255,255,255,.1) 100%);
}

.pp:hover {
    -webkit-box-shadow: 0 0 20px rgba(255,255,255,.6), inset 0 0 20px rgba(255,255,255,1);
    -moz-box-shadow: 0 0 20px rgba(255,255,255,.6), inset 0 0 20px rgba(255,255,255,1);
    box-shadow: 0 0 20px rgba(255,255,255,.6), inset 0 0 20px rgba(255,255,255,1);
}

.navbar .pp { margin-bottom: -7px; margin-top: -2px; float:left; margin-left: -7px;}

.navbar a.btn.btn-default.dropdown-toggle {
    margin-top: 6px;
    padding: 8px;
}

.navbar li.dropdown + li.dropdown {
    margin-left:15px;
}



input.numbered {
    text-align: right;
}
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

.lc-popup-alert {
    position:absolute;
    top:50px;
    left:50%;
    width: 400px;
    margin-left:-225px;
    z-index: 10000 !important;
    -webkit-box-shadow: 0 0 8px 6px #aaa;
    -moz-box-shadow: 0 0 8px 6px #aaa;
    box-shadow: 0 0 8px 6px #aaa;
}

div.datepicker {
    z-index: 1100;
}

/** Apps container **/

div.app-container{
    
}

div.app-container.app-with-left-menu {
    padding-left:250px;
}


/** Apps Menu **/

.nav i { margin-right: 5px; }

.left-menu {
    float:left;
    top:100px;
    width:200px;
    padding: 8px 0;
}


/** edit_user **/

#content > #edit_user .form-horizontal .control-group {
    margin-left:auto;
    margin-right:auto;
    width:350px;
}


#group-add-user {
    margin-top:40px;
    padding-top:5px;
    margin-top: 40px;
    padding-top: 42px;
    height: 213px;
    cursor: pointer;
    background-color: #f9f9f9;
}

#group-add-user:hover {
    background-color: #fff;
}


/** Animations **/


.rotate180 {
    -webkit-animation: bounceIn 0.7s ease-in-out;
    -moz-animation: bounceIn 0.7s ease-in-out;
    -ms-animation: bounceIn 0.7s ease-in-out;
    -o-animation: bounceIn 0.7s ease-in-out;
    animation: bounceIn 0.7s ease-in-out;
}

@-webkit-keyframes bounceIn{  
    from {-webkit-transform: rotate(0deg);}
    75%  {-webkit-transform: rotate(-200deg);}
    90%  {-webkit-transform: rotate(-175deg);}
    to   {-webkit-transform: rotate(-180deg);} 
} 
@-moz-keyframes bounceIn{   
    from {-moz-transform: rotate(0deg);}
    75%  {-moz-transform: rotate(-200deg);}
    90%  {-moz-transform: rotate(-175deg);}
    to   {-moz-transform: rotate(-180deg);} 
}     
@-ms-keyframes bounceIn{
    from {-moz-transform: rotate(0deg);}
    75%  {-moz-transform: rotate(-200deg);}
    90%  {-moz-transform: rotate(-175deg);}
    to   {-moz-transform: rotate(-180deg);} 
} 
@-o-keyframes bounceIn{
    from {-o-transform: rotate(0deg);}
    75%  {-o-transform: rotate(-200deg);}
    90%  {-o-transform: rotate(-175deg);}
    to   {-o-transform: rotate(-180deg);} 
} 
@keyframes bounceIn{    
    from {transform: rotate(0deg);}
    75%  {transform: rotate(-200deg);}
    90%  {transform: rotate(-175deg);}
    to   {transform: rotate(-180deg);} 
}  




/***** Logo ****/

.logo_inactive {
    position:absolute;
    top:-50px;
    left:50px;
    background: url(/images/logo_lacoloc_80.png) no-repeat;
    cursor:pointer;
    height: 80px;
    width: 80px;
}

.logo_active{
    position:absolute;
    top:-20px;
    left:50px;
    background: url(/images/logo_lacoloc_80.png) no-repeat;
    cursor:pointer;
    height: 80px;
    width: 80px;
}

/***** Menu ****/
.nav i.icon-white {
    margin-top: 2px;
    margin-right: 5px;
}
@media (max-width: 979px) {
    .nav-collapse .nav > li > a, .nav-collapse .dropdown-menu a {
        font-weight: normal;
    }
}   


/****** Content *****/

#content {
    min-height: 300px;
}


/******* Responsive Design ********/

@media (max-width: 767px) {

}


@media (min-width: 10px) and (max-width: 768px) {
    .navbar span { display: none; }
    .navbar .brand { padding-left: 20px; }
    .navbar .btn-navbar { margin-right: 15px; }
}

@media (min-width: 768px) and (max-width: 980px) {


}


@media (max-width: 979px) {

}


/* LARGE DESKTOP SCREENS */
@media (min-width: 1210px) {

}