/************
*
*   @Author :   Benoit Zohar
*   @File:      style.css
*   @Package:   default lacoloc template
*
******************/

/****** Bootstrap customization ********/
/* -> reinsert into bootstrap */

.navbar-brand {
    line-height: 0px;
    padding: 0 15px;
}
.navbar-brand span {
    margin-left: 40px;  
}

.btn, .panel, .form-control, .input-group-addon, .datepicker, .well, .thumbnail {
    border-radius: 0px !important;
}

.btn-primary {
    background-color: #A59D8E;
    border-color: #9C9485;
    
}

.btn-primary:hover, .btn-primary:active, .btn-primary:focus,
.btn-primary.active, .btn-primary.focus {
    background-color: #8F887B;
    border-color: #9C9485;
}

.well {
    background-color: #E2DDD3;
    padding:10px;
}
.well .form-group {
    padding:0;
}

.list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus {
  z-index: 2;
  color: #fff;
  background-color: rgba(165, 157, 142, 0.73);
  border-color: rgba(165, 157, 142,1);
}


/******* icomoon *******/
@font-face {
    font-family: 'icomoon';
    src:url('../fonts/icomoon.eot?-c3djey');
    src:url('../fonts/icomoon.eot?#iefix-c3djey') format('embedded-opentype'),
        url('../fonts/icomoon.woff?-c3djey') format('woff'),
        url('../fonts/icomoon.ttf?-c3djey') format('truetype'),
        url('../fonts/icomoon.svg?-c3djey#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-basket:before {
    content: "\e0ce";
}
.icon-bars:before {
    content: "\e202";
}
.icon-close:before {
    content: "\e36b";
}
.icon-checkmark:before {
    content: "\e370";
}



/****** General *****/
*, h1, h2, h3, h4, h5, h6, span {
    font-family: 'Raleway',"HelveticaNeue-Light", "Helvetica Neue Light","Helvetica Neue", sans-serif;
    /*font-weight: 300;
    font-size:16px;*/
    letter-spacing:1px;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor:default;
}

html {
    -webkit-font-smoothing: antialiased;    
}

body {
    background-color: #f5f5f5;
    background-image: url(/images/noise.png);
    position: relative;
    padding-top: 60px;
}

footer {
    margin-left:40px;
}

button,
input[type="checkbox"] {
  outline: none !important;
}

.pointer {
    cursor: pointer !important;
}

.selectable {
    -webkit-touch-callout: text;
    -webkit-user-select: text;
    -khtml-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
    cursor: text;
}

input {
    -webkit-touch-callout: text;
    -webkit-user-select: text;
    -khtml-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
    cursor: text;
}

#brand-logo {
    height:32px;
    margin-bottom: -15px;
    margin-top: 8px;
    margin-right: 10px;
}


/* Profil picture */
.pp {

    position: relative;
    display: block;
    overflow: hidden;
    background-position: 50% 50%;
    background-repeat: no-repeat no-repeat;
    
    -webkit-transition: 1s;
    -moz-transition: 1s;
    transition: 1s;


    -webkit-border-radius: 50em;
    -moz-border-radius: 50em;
    border-radius: 50em;
    
    -webkit-box-shadow: 0 1px 0 rgba(255,255,255,.2), inset 0 4px 5px rgba(150,150,150,.6), inset 0 1px 0 rgba(150,150,150,.6);
    -moz-box-shadow: 0 1px 0 rgba(255,255,255,.2), inset 0 4px 5px rgba(100,100,100,.6), inset 0 1px 0 rgba(100,100,100,.6);
    box-shadow: 0 1px 0 rgba(255,255,255,.2), inset 0 4px 5px rgba(150,150,150,.6), inset 0 1px 0 rgba(150,150,150,.6);
}

.pp-small {
    background-size: 24px; 
    width: 24px; 
    height: 24px;
}

.pp > i {
    position: absolute;
    content: ' ';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0.3;

    -webkit-border-radius: 50em;
    -moz-border-radius: 50em;
    border-radius: 50em;

    background: -moz-linear-gradient(top, rgba(255,255,255,0.7) 0%, rgba(255,255,255,.1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.7)), color-stop(100%,rgba(255,255,255,.1)));
    background: linear-gradient(top, rgba(255,255,255,0.7) 0%,rgba(255,255,255,.1) 100%);
}

.pp:hover {
    -webkit-box-shadow: 0 0 20px rgba(255,255,255,.6), inset 0 0 20px rgba(255,255,255,1);
    -moz-box-shadow: 0 0 20px rgba(255,255,255,.6), inset 0 0 20px rgba(255,255,255,1);
    box-shadow: 0 0 20px rgba(255,255,255,.6), inset 0 0 20px rgba(255,255,255,1);
}

.navbar .pp { margin-bottom: -7px; margin-top: -2px; float:left; margin-left: -7px;}

.navbar a.btn.btn-default.dropdown-toggle {
    margin-top: 6px;
    padding: 8px;
}

.navbar li.dropdown + li.dropdown {
    margin-left:15px;
}

/** Custom selects **/
.select-wrapper{
    float: left;
    display: inline-block;
    border: 1px solid #d8d8d8;            
    background: url("arrow.png") no-repeat right center;
    cursor: pointer;
}
.select-wrapper, .select-wrapper select{
    width: 200px;
    height: 26px;
    line-height: 26px;
}
.select-wrapper:hover{
    background: url("arrow-hover.png") no-repeat right;
    border-color: #239fdb;
}
.select-wrapper .holder{
    display: block;
    margin: 0 35px 0 5px;
    white-space: nowrap;            
    overflow: hidden;
    cursor: pointer;
    position: relative;
    z-index: -1;
}
.select-wrapper select{
    margin: 0;
    position: absolute;
    z-index: 2;            
    cursor: pointer;
    outline: none;
    opacity: 0;
    /* CSS hacks for older browsers */
    _noFocusLine: expression(this.hideFocus=true); 
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -khtml-opacity: 0;
    -moz-opacity: 0;
}

/** inputs style **/

input.numbered {
    text-align: right;
}
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

input.ng-dirty.ng-invalid {
  border: 1px solid red;
}

.lc-popup-alert {
    position:absolute;
    top:50px;
    left:50%;
    width: 400px;
    margin-left:-225px;
    z-index: 10000 !important;
    -webkit-box-shadow: 0 0 8px 6px #aaa;
    -moz-box-shadow: 0 0 8px 6px #aaa;
    box-shadow: 0 0 8px 6px #aaa;
}

div.datepicker {
    z-index: 1100;
}

/** Apps container **/

div.app-container{
    
}

div.app-container.app-with-left-menu {
    padding-left:250px;
}

h2.app_title {
    position: absolute;
    top: -80px;
    width: 100%;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    color: #b3b3b3;
    color: rgba(255, 255, 255, 0.3);
    text-shadow: -1px -1px rgba(0, 0, 0, 0.2);
    -webkit-text-rendering: optimizeLegibility;
    -moz-text-rendering: optimizeLegibility;
    -ms-text-rendering: optimizeLegibility;
    -o-text-rendering: optimizeLegibility;
    text-rendering: optimizeLegibility;
}

#expenseapp {
    margin-top: 80px;
    position: relative;
}


/** Apps Menu **/

.nav i { margin-right: 5px; }

.left-menu {
    float:left;
    top:100px;
    width:100%;
    padding: 0;
}


.panel.left-menu {
    margin-top:30px;
}

.panel.left-menu > a.btn-primary {
    margin-top: -8px;
    margin-bottom: 6px;
}

.panel.left-menu > div.confirmation-panel {
    margin-top: -8px;
    background-color: #E2DDD3;
}

.panel.left-menu > div.confirmation-panel > span {
    display: block;
    padding:10px;
}

/** Expense add panel **/

#expense-add-panel.well .first-div {
    padding-right:3px;
}

#expense-add-panel.well .second-line {
    margin-top:5px;
}

#expense-add-panel.well .second-line * {
    width:100%;
}

/** edit_user **/

#content > #edit_user .form-horizontal .control-group {
    margin-left:auto;
    margin-right:auto;
    width:350px;
}


#group-add-user {
    margin-top:40px;
    padding-top:5px;
    margin-top: 40px;
    padding-top: 42px;
    height: 213px;
    cursor: pointer;
    background-color: #f9f9f9;
}

#group-add-user:hover {
    background-color: #fff;
}


/** Animations **/


.rotate180 {
    -webkit-animation: bounceIn 0.7s ease-in-out;
    -moz-animation: bounceIn 0.7s ease-in-out;
    -ms-animation: bounceIn 0.7s ease-in-out;
    -o-animation: bounceIn 0.7s ease-in-out;
    animation: bounceIn 0.7s ease-in-out;
}

@-webkit-keyframes bounceIn{  
    from {-webkit-transform: rotate(0deg);}
    75%  {-webkit-transform: rotate(-200deg);}
    90%  {-webkit-transform: rotate(-175deg);}
    to   {-webkit-transform: rotate(-180deg);} 
} 
@-moz-keyframes bounceIn{   
    from {-moz-transform: rotate(0deg);}
    75%  {-moz-transform: rotate(-200deg);}
    90%  {-moz-transform: rotate(-175deg);}
    to   {-moz-transform: rotate(-180deg);} 
}     
@-ms-keyframes bounceIn{
    from {-moz-transform: rotate(0deg);}
    75%  {-moz-transform: rotate(-200deg);}
    90%  {-moz-transform: rotate(-175deg);}
    to   {-moz-transform: rotate(-180deg);} 
} 
@-o-keyframes bounceIn{
    from {-o-transform: rotate(0deg);}
    75%  {-o-transform: rotate(-200deg);}
    90%  {-o-transform: rotate(-175deg);}
    to   {-o-transform: rotate(-180deg);} 
} 
@keyframes bounceIn{    
    from {transform: rotate(0deg);}
    75%  {transform: rotate(-200deg);}
    90%  {transform: rotate(-175deg);}
    to   {transform: rotate(-180deg);} 
}  




/***** Logo ****/

.logo_inactive {
    position:absolute;
    top:-50px;
    left:50px;
    background: url(/images/logo_lacoloc_80.png) no-repeat;
    cursor:pointer;
    height: 80px;
    width: 80px;
}

.logo_active{
    position:absolute;
    top:-20px;
    left:50px;
    background: url(/images/logo_lacoloc_80.png) no-repeat;
    cursor:pointer;
    height: 80px;
    width: 80px;
}

/***** Menu ****/
.nav i.icon-white {
    margin-top: 2px;
    margin-right: 5px;
}
@media (max-width: 979px) {
    .nav-collapse .nav > li > a, .nav-collapse .dropdown-menu a {
        font-weight: normal;
    }
}   

/** Loader **/
#loader {
    width: 1em;
    height: 1em;
    font-size: 50px;
    position: fixed;
    bottom: 10px;
    right: 10px;
}
@media (max-width: 225px), (max-height: 225px) {
  #loader {
    font-size: 75px;
  }
}
#loader:before, #loader:after {
  content: "";
  top: 0;
  display: block;
  width: 1em;
  height: 1em;
  position: absolute;
  border-width: 0.5em;
  border-style: double;
  border-color: transparent;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 1em;
  -webkit-animation: loaderspin 1s infinite;
  animation: loaderspin 1s infinite;
}
#loader:after {
  left: 0;
  border-left-color: #E2DDD3;
}
#loader:before {
  right: 0;
  border-right-color: #E2DDD3;
  -webkit-animation-delay: -0.25s;
  animation-delay: -0.25s;
}

@-webkit-keyframes loaderspin {
  from {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes loaderspin {
  from {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}


/****** Content *****/

#content {
    min-height: 300px;
}



/** Checkboxes **/
.checkbx {
    width: 20px;    
    margin: 20px auto;
    position: relative;
}

.checkbx label {
    cursor: pointer;
    position: absolute;
    width: 20px;
    height: 20px;
    top: 0;
    border-radius: 4px;

    -webkit-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,.4);
    -moz-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,.4);
    box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,.4);

    background: -webkit-linear-gradient(top, #222 0%, #45484d 100%);
    background: -moz-linear-gradient(top, #222 0%, #45484d 100%);
    background: -o-linear-gradient(top, #222 0%, #45484d 100%);
    background: -ms-linear-gradient(top, #222 0%, #45484d 100%);
    background: linear-gradient(top, #222 0%, #45484d 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#222', endColorstr='#45484d',GradientType=0 );
}

.checkbx label:after {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
    content: '';
    position: absolute;
    width: 9px;
    height: 5px;
    background: transparent;
    top: 4px;
    left: 4px;
    border: 3px solid #fcfff4;
    border-top: none;
    border-right: none;

    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.checkbx label:hover::after {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
    filter: alpha(opacity=30);
    opacity: 0.3;
}

.checkbx input[type=checkbox]:checked + label:after {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
}

/******* Responsive Design ********/

@media (max-width: 767px) {

}


@media (min-width: 10px) and (max-width: 768px) {
    .navbar span { display: none; }
    .navbar .brand { padding-left: 20px; }
    .navbar .btn-navbar { margin-right: 15px; }
}

@media (min-width: 768px) and (max-width: 980px) {


}


@media (max-width: 979px) {

}


/* LARGE DESKTOP SCREENS */
@media (min-width: 1210px) {

}