#dep_wrapper {
	height:400px;
	width:100%;
	overflow-x:auto;
	white-space: nowrap;
}

#dep_wrapper div.user-list {
	display: inline-block;
	vertical-align: top;
	margin-right: 35px;
}

div.user-list .input-prepend { 
	margin-top: 7px;
}