.smooth {
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    transition: 0.4s;
}
.main_logo { width:256px; opacity:0.7;       }
.main_logo:hover { opacity : 1; }
.well { padding : 13px; 
        opacity: 0.8; 
        -webkit-transition: 0.4s;
        -moz-transition: 0.4s;
        transition: 0.4s;
}
.well:hover { opacity: 1; }
.span4 { position: relative; }

.main-row {
    margin-top:40px;
}

#input_password, #signup_email, #signup_password {
    margin-top:-2px;
    border-top:none;   
}
#loginbutton {
    width:100%;
    margin-bottom:20px;
    margin-top:-1px;
    border-color: #ccc;
}

#socialtw, #socialfb, #socialgp {
}
a.zocial:hover {
    opacity: 1;
}
a.zocial:before {
    width: 20%;
}
a.zocial {
    border-radius:0px;
    -webkit-border-radius:0px;
    width:100%;
    border:1px solid #ccc;
    opacity: 0.9;
    text-shadow: none;
    height:40px;
    padding-top: 4px;
}
#socialfb, #socialgp {
    margin-top:-2px;
}

#socialtw {
    background: #55acee;
}
#socialfb {
    background: #3B599B;
}
#socialgp {
    background: #D93B2B;
    margin-bottom:15px;
}


#recaptcha {
    margin-left:auto;
    margin-right:auto;
    background-color: white;
    border-left:1px solid #ccc;
    border-right:1px solid #ccc;
}

#recaptcha #recaptcha_table {
    border:none !important;
}

#recaptcha #recaptcha_response_field {
    height: 30px;
    padding-left: 5px;
    padding-top: 3px;
    border-color: #ccc !important;
}

#signupbutton {
    width:100%;
    margin-bottom:20px;
    margin-top:-1px;
    border-color: #ccc;
}



@media (max-width: 991px) {
    .main-row {
        margin-top:-60px;
    }
}

form { margin-bottom: -8px; }
.well-divider {
    text-align: center;
    width: 100%;
    margin-bottom:10px;
    color: #ccc;
}
 @media (max-width: 768px) {
    a.zocial {
        margin-left: -8px;
        margin-right: -8px;
    }
}


.div_title {
    position:absolute;
    right:10px;
    top:-45px;
    font-size:30px;
    color:#ccc;
    font-variant: small-caps;
    letter-spacing:3px;
    text-shadow: 0px 0px 3px #eee;
}
.div_title.tipTip {
    position:relative;
    width:100%;
    text-align: center;
    margin-top:30px;
}       
#signup_message {
    margin-top: 30px;
    margin-bottom: 1px;
}


.signup_div {
    padding-bottom:53px;
}

#loader {
    opacity: 0;
}

.alert {
    border-radius:0;
    position: fixed;
    top:5px;
    left: 30%;
    right: 30%;
}
.alert ul {
    list-style: none;
    padding-left: 0px;
    text-align: center;
}
