<?php

$config['title'] = "{server_title}";

// this unique key should be only known by you. it's used to encode passwords
// you can put here anything
$config['uniqueKey'] = '{server_unique_key}';

$config['url'] = '{server_url}';
$config['path'] = '{server_path}';

$config['default_lang'] = '{server_lang}';

$config['admin_password'] = '{admin_password}';

?>